DATABASE_URL=postgresql://postgres:postgres@localhost:5432/todo-user?schema=public
JWT_SECRET=dHEqfIhKFyf6jplmMHUs9zsH2F79Wb9nqL0aGcJjznhqtOOQT9U+vF16BJy0cXc+Y5K7konqMUYtDJ3QtF4zW5RpVV6MSUnLL3S2D+zIR6/9nmqLwCH9vzhJPL3/InLTvfM0XDeRI/9EPZ/rDIXxlpL+Lg2Y8qEXlKBhgV8RxrEFJz/X1NPtGevqfw7JlV75IMmymdC7/Y2Q+P8frLRvTMpV7pvPAQ3JGerYtERZQQ6vUdvCP93FYmcsq7NFbJSvIUIbjXV0PHvpb80clo9muvh1cIUgPm+4Ug+6Nvw2Ft//EOHl20/U7cS2+PmkgqkmE3rGALGbeZPY+9KRPRGINg==
USER_SERVICE_URL=localhost:3000